[submodule "DataCamp - New era of data analysis in baseball - SLIDES/reveal.js"]
	path = DataCamp - New era of data analysis in baseball - SLIDES/reveal.js
	url = https://github.com/hakimel/reveal.js.git
[submodule "reveal.js"]
	path = reveal.js
	url = https://github.com/hakimel/reveal.js.git
